<div class="col-md-12">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Login</h4>
                    <h6 class="card-subtitle text-muted">Login to access control server features</h6>
                </div>
                <div class="card-block">
                    <div v-if="message !== false">
                        <template v-if="message.success === true">
                            <div class="alert alert-success">
                                {{ message.text }}
                            </div>
                        </template>
                        <template v-else>
                            <div class="alert alert-danger">
                                {{ message.text }}
                            </div>
                        </template>
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="login-username">Username</label>
                            <input v-model="username" type="text" class="form-control" placeholder="Username"></input>
                        </div>
                        <div class="form-group">
                            <label for="login-password">Password</label>
                            <input v-model="password" type="password" class="form-control" placeholder="Password"></input>
                        </div>
                        <div class="form-group">
                            <input v-on:click="loginSubmit" type="button" class="btn btn-primary" value="Login"></input>
                            <template v-if="registrationEnabled">
                                <router-link class="btn btn-primary" to="/register">Register</router-link>
                            </template>
                        </div>
                    </form>
                </div>
                <template v-if="guestEnabled">
                    <div class="card-block">
                        <p class="card-text">Or sign in as a guest for limited access</p>
                        <form>
                            <div class="form-group">
                                <label for="login-username">Display Name</label>
                                <input v-model="displayName" type="text" class="form-control" placeholder="Display Name"></input>
                            </div>
                            <div class="form-group">
                                <input v-on:click="guestSubmit" type="button" class="btn btn-primary" value="Guest Access"></input>
                            </div>
                        </form>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>

